@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

hr {
  width: 50%;
  margin: 3rem auto -4rem;
}

body {
  background: #f0efef;
}

header {
  width: 100%;
  height: 500px;
  background: #5800ff;
}

section {
  width: 100%;
  height: 1100px;
  background: #f0efef;
}

section h3{
    font-size: 22px;
    text-align: center;
    padding-top: 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 1.9rem 0rem 0rem 5rem;
  font-size: 27px;
  font-weight: bold;
  color: #fff;
}

.navlist ul {
  display: flex;
}

.navlist ul li {
  margin: 2rem 4rem 0rem 0rem;
  list-style: none;
}

.navlist ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.2s ;
}

.navlist ul li a:hover{
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
}

.heading {
  text-align: center;
  width: 600px;
  margin: 8rem auto 5rem;
  color: #fff;
}

.heading h1 {
  font-size: 40px;
  margin-bottom: 2rem;
}

.heading p {
  font-size: 20px;
}

/* ======= SECTION ======= */

.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0rem;
  row-gap: 5rem;
  margin-top: 7rem;
}

.box {
  width: 250px;
  height: 200px;
  background: #5800ff;
  margin: 0 auto;
  text-align: center;
  /* display: flex; */
  transition: 0.5s ease-in;
}

.box:hover{
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.box a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
}

.box p{
  padding-top: 4rem;

}

/* ===== FOOTER ===== */

footer {
  width: 100%;
  height: 100px;
  background: #5800ff;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.copyright{
    margin: 2rem;
}

.footer-navbar ul {
    display: flex;
}

.footer-navbar ul li{
    margin: 2rem;
    list-style: none;
}

.footer-navbar ul li a{
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ;
}

.footer-navbar ul li a:hover{
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
}

@media (max-width: 1000px){
  header {
    height: 400px;
  }
  
  section h3{
      font-size: 20px;
  }
 
  .logo {
    margin: 1.5rem 0rem 0rem 2rem;
    font-size: 24px;
  }
  
  .navlist ul {
    display: none;
  }
  
  .heading {
    width: 450px;
    margin: 5rem auto 5rem;
  }
  
  .heading h1 {
    font-size: 30px;
  }
  
  .heading p {
    font-size: 18px;
  }
  
  /* ======= SECTION ======= */
  
  .box-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* ===== FOOTER ===== */
  
  footer {
    height: 350px;
    position: absolute;
    top: 130rem;
  }
  
  .footer-navbar ul {
      flex-direction: column;
  }

}


@media (max-width: 600px){
  header {
    height: 330px;
  }
  
  section h3{
      font-size: 20px;
  }
 
  .logo {
    font-size: 20px;
  }
  
  .heading h1 {
    font-size: 25px;
  }
  
  .heading p {
    font-size: 16px;
  }
  
  /* ======= SECTION ======= */
  
  .box-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  
  .box {
    width: 350px;
    height: 300px;
  }

  .box p{
    padding-top: 8rem;
  }


  /* ===== FOOTER ===== */
  
  footer {
    top: 250rem;
  }

}

@media (max-width: 500px) {
  header {
    height: 350px;
  }
  
  hr{
    margin: 1rem auto -4rem;
  }

  .logo {
    margin: 1rem;
    font-size: 20px;
  }

  .heading h1 {
    font-size: 18px;
    text-align: center;
  }
  
  .heading{
    width: 250px;
    margin: 2rem auto 0rem;
  }
  
  .heading p {
    font-size: 16px;
  }
  
  /* ======= SECTION ======= */
  
  section h3 {
    font-size: 16px;
  }

  .box-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 5rem;
    row-gap: 3rem;
  }

  .box {
    width: 250px;
    height: 200px;
  }

  .box img{
    width: 200px;
    margin: 1rem;
  }

  .box p{
    padding: 4rem;
    font-size: 20px;
  }

  /* ===== FOOTER ===== */

  footer {
    top: 170rem;
    height: 100px;
  }

  footer .copyright p{
    text-align: center;
    font-size: 16px;
  }

  .footer-navbar{
    display: none;
  }
}

/* Change */
